header
  img(src="", alt="Logo LA KASA PIZZA", srcset="")
  nav
    ul
      li
        a(href="#about") À Propos
      li
        a(href="#resto") Restaurant
      li
        a(href="#pizzeria") Pizzeria
      li
        a(href="#bar") Bar
      li
        a(href="#contact") Contact
