section#resto
  h2 Notre Restaurant
  p Découvrez notre restaurant qui vous transporte immédiatement dans un cadre tropical chaleureux. Des plats raffinés inspirés des îles vous attendent, préparés avec des ingrédients frais et locaux. Venez savourer des moments uniques à La Kasa Pizza.
